<!DOCTYPE html>
<html>

{% extends 'base.html' %}
{% load static %}

{% block content %}

<head>

    <link rel="stylesheet" href="{% static 'home/css/second_style3.css' %}"/>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
     integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI="
     crossorigin=""/>

     <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
     integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM="
     crossorigin=""></script>

</head>

<body>
    <div class="wrapper">

        <nav class="menu">
            <ul class="menu_list">
                <li>
                    <a href=""> &#9776
                        <ul class="menu_topic">
                            <li><a href="{% url 'home' %}"> дадому </a></li>
                            <li><a href="{% url 'friends' %}"> сябры </a></li>
                        </ul>
                    </a>
                </li>
            </ul>
        </nav>

        <div class="content_top">
            <div class="content_top_conteiner">
                <div class="content_top_body">
                   <h2>{{post.title}}</h2>
                </div>
            </div>
            <div class="content_top_fon _cover">
                <img src="{{post.post_cover_img.url}}" alt="cover">
            </div>
        </div>
            
        <div class="members">
            <div class="members_conteiner">
                <div class="members_title">
                    <img src="{% static 'home/img/members_title.png' %}" alt="member_title">
                </div>
                <div class="members_body">

                    {% for member in post.travelers.all %}
                    <div class="member_block">
                        <a href="{{member.instagram}}">
                            <img src="{{ member.avatar.url }}" alt="nasta_member">
                            <p>{{member.first_name}}</p>
                        </a>
                    </div>
                    {% endfor %}

                </div>
            </div>
        </div>

    <div class="map_trip">
        <div class="map_conteiner">
            <div class="map_title">
                    <img src="{% static 'home/img/map_title_2.png' %}" alt="map_cover">
                </div>
            <div id="map_trip"></div>
        </div>
    </div>

        <div class="about_trip">
            <div class="about_trip-conteiner">
                <div class="about_trip-title">
                    <img src="{% static 'home/img/about__trip_title.png' %}" alt="about_trip-cover">
                </div>
                <div class="about_trip-body">
                    <div class="trip-date">
                        <img src="{% static 'home/img/calendar.png' %}" alt="calendar">
                        <div class="trip-date_text">
                            <p>{{ post.date }}</p>
                        </div>
                    </div>

                    {% for article in post.articles.all %}

                        <div class="{{article.articleRatio}}">

                            {% if forloop.counter|divisibleby:2 %}

                                <div class="trip_block-text">
                                    <p>{{ article.text_block }}</p>
                                </div>

                                <div class="img_and_text">
                                    <img src="{{article.image.url}}" alt="vitebsk">
                                    <p>а тя тя тя якая прыгажуня</p>
                                </div>

                            {% else %}

                                <div class="img_and_text">
                                    <img src="{{article.image.url}}" alt="vitebsk">
                                    <p>а тя тя тя якая прыгажуня</p>
                                </div>

                                <div class="trip_block-text">
                                    <p>{{ article.text_block }}</p>
                                </div>

                            {% endif %}

                        </div>

                        <div class="line_post">
                            <img src="{% static 'home/img/line_post.png' %}" alt="line">
                        </div>

                    {% endfor %}

                </div>
            </div>
        </div>
    </div>

{{ post.postLatitude|json_script:"zoomLat" }}
{{ post.postLongitude|json_script:"zoomLong" }}
{{ post_points|json_script:"post_points_json" }}


<script src="{% static 'home/js/second_page.js' %}"></script>

</body>

{% endblock %}
</html>