.wrapper{
    margin: 0 auto;
    background: #F5E9D4;
    display: flex;
	flex-direction: column;
}
.header_conteiner, .members_conteiner, .content_top_conteiner, .map_conteiner, .about_trip-conteiner, .foto_conteiner {
    max-width: 1220px;
    margin: 0 auto;
}

/*------- HEADER --------*/
.header{
    position: absolute;
    z-index: 2;
    width: 100%;

}
.header_conteiner nav{
    width: 100%;
    margin-top: 420px;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.header_conteiner nav li a{
    display: inline-block;
    background: #FFFFFF;
    border: 1px solid #000000;
    box-shadow: 6px 6px 4px rgba(0, 0, 0, 0.4);
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.1em;
    color: #000000;
    padding: 11px;
}


/*------- CONTENT TOP --------*/

.content_top{
    position: relative;
    height: 450px;
    margin-bottom: 35px;
}
.content_top_body{
    position: absolute;
    z-index: 2;
    width: 100%;
}
._cover{
    position: relative;
    padding-bottom: 400px;
    z-index: 1;
}
._cover img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}
.content_top_fon{
    position: absolute;
    width: 100%;
    height: 100%;
}
.content_top_conteiner{
    width: 100%;
    display: flex;
    justify-content: center;

}
.content_top_body{
    margin-top: 390px;
    text-align: center;
    width: 345px;
    height: 100px;
    background: #FFFFFF;
    border: 1px solid #000000;
    box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.75);
}
.content_top_body h2{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #000000;
    margin-top: 26px;
}

/*------- MEMBERS --------*/
.members{
    margin-top: 50px;
}
.members_title{
    margin-bottom: 40px;
}
.members_title img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.members_body{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
.member_block p{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.03em;
    color: #000000;
    margin-top: 10px;
}
@media (max-width: 3000px){
    .member_block{
        width: 20%;
        text-align: center;
        margin-bottom: 35px;
    }
}
@media (max-width: 1000px){
    .member_block{
        width: 25%;
        text-align: center;
        margin-bottom: 35px;
    } 
}
@media (max-width: 800px){
    .member_block{
        width: 33.3%;
        text-align: center;
        margin-bottom: 20px;
    }
    .member_block img{
        height: 80%;
        width: 60%;
    }
    .member_block p{
        font-size: 20px;
        line-height: 24px;
        margin-top: 5px;
    }
}


/* --------- MAP ----------- */


.map_trip{
    margin-top: 15px;
}

.map_conteiner{
    max-width: 1220px;
    padding: 0 20px;
    margin: 0 auto;
}

.map_body{
    font-size: 0;
    margin: 0 -10px;
}

.map_title{
    margin-bottom: 40px;
}
.map_title img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#map_trip{
    min-height: 400px;
}

/* --------- ABOUT TRIP ----------- */
.about_trip{
    margin-top: 60px;
}
.about_trip-title{
    margin-bottom: 40px;
}
.about_trip-title img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.about_trip-body{
    display: block;
}
.line_post {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 40px;
}
.line_post img{
    height: 100%;
}
.trip_block{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 100%;
}
.trip_block:last-of-type{
    padding-bottom: 60px;
}
.horizontal_foto_block img{
    height: fit-content;
    width: 50%;
    filter: drop-shadow(10px 10px 4px rgba(0, 0, 0, 0.25));
}
.horizontal_foto_block .trip_block-text{
    width: 45%;
}
.vertical_foto_block img{
    height: fit-content;
    width: 30%;
    filter: drop-shadow(10px 10px 4px rgba(0, 0, 0, 0.25));
}
.vertical_foto_block .trip_block-text{
    width: 65%;
}
.trip_block-text p{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    text-align: justify;
    letter-spacing: 0.03em;
    color: #000000;
}
.trip-date{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}
.trip-date img{
    width: 50px;
}
.trip-date_text{
    margin-left: 25px;
}
.trip-date_text p{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
    text-align: justify;
    letter-spacing: 0.03em;
    color: #000000;

}


@media (max-width: 1250px){
    .trip_block{
        justify-content: space-around;
    }
    .horizontal_foto_block img{
        width: 40%;
        height: 50%;
    }
    .horizontal_foto_block .trip_block-text{
        width: 50%;
    }
    .vertical_foto_block img{
        width: 35%;
    }
    .vertical_foto_block .trip_block-text{
        width: 55%;
    }
}
@media (max-width: 960px){
    .trip_block{
        display: flex;
        flex-wrap: wrap;

    }
    .horizontal_foto_block, .vertical_foto_block{
        width: 100%;
    }
    .horizontal_foto_block img{
        width: 50%;
        padding-top: 10px;
        padding-bottom: 10px;

    }
    .horizontal_foto_block .trip_block-text{
        width: 70%;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .line_post img{
        width: 100%;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .vertical_foto_block img{
        width: 35%;
    }
    .vertical_foto_block .trip_block-text{
        width: 55%;
    }
    .trip_block .trip_block-text p{
        font-size: 25px;
        line-height: 30px;
    }
    .trip_block .trip_block-text p{
        font-size: 20px;
        line-height: 25px;
    }
}
@media  (max-width: 650px){
    .wrapper{
        width: 700px;
        overflow: auto;
    }

}

