.wrapper{
    width: 100%;
    margin: 0 auto;
    background: #CCCCCC;
}

.content_conteiner {
    max-width: 1220px;
    padding: 0 20px;
    margin: 0 auto;
}
.content_body {
    font-size: 0;
    margin: 0 -10px;
}
.content_conteiner .content_body .content_post.medium-width {
    width: 50%;
}
.content_conteiner .content_body .content_post.small-width {
    width: 25%;
}
.content_conteiner .content_body .content_post {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 40px;
    position: relative;
    padding: 0 10px;
    font-size: 16px;
}
.content_conteiner .content_body .content_post a {
    display: block;
    position: relative;
    height: 100%;
    text-decoration: none;
}
.content_conteiner .content_body .content_post .post_img {
    position: relative;
    z-index: 1;
}
.content_conteiner .content_body .content_post .post_text {
    background: #fff;
    position: relative;
    margin: 0 auto;
    padding: 0 15px 29px;
    text-align: center;
    width: calc(100% - 40px);
    z-index: 2;
}
.content_conteiner .content_body .content_post .post_text .post_title {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.21em;
    text-align: center;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    margin: 0 auto 17px;
    color: #000;
    letter-spacing: 3px;
    font-size: 22px;
    line-height: 1.3em;
}

.content_conteiner .content_body .content_post.small-width .post_img img{
    height: 280px;
    width: 280px;
}

.content_conteiner .content_body .content_post.medium-width .post_img img{
    height: 400px;
    width: 577px;
}

.content_conteiner .content_body .content_post.small-width .post_text{
    margin-top: -20px; 
}

.content_conteiner .content_body .content_post.small-width .post_text .post_title {
    line-height: 1.2em;
    letter-spacing: 2px;
    margin-bottom: 17px;
    padding-top: 17px;
}

.content_conteiner .content_body .content_post .post_text p {
    font-size: 15px;
    color: black;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.4em;
    text-align: center;
}

.content_conteiner .content_body .content_post.medium-width .post_text {
    margin-top: -55px;
    width: calc(100% - 80px);
}

.content_conteiner .content_body .content_post.medium-width .post_text .post_title {
    font-family: 'Roboto Condensed', sans-serif;
    max-width: 70%;
    font-size: 28px;
    padding-top: 17px;
}

